################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/QuickReflect/.vs/QuickReflect/v16
/QuickReflect/QuickReflect/obj
/QuickReflect/QuickReflect/bin
/QuickReflect/QuickReflect_Tests/obj
/QuickReflect/QuickReflect_Tests/bin/Release/netcoreapp2.2
/QuickReflect/.vs/QuickReflect/DesignTimeBuild
/.vs
