################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/QuickReflect/.vs/QuickReflect/v16
/QuickReflect/QuickReflect/obj
/QuickReflect/QuickReflect/bin
